@font-face {
    font-family: "fluent";
    src: url("./FluentSystemIcons-Resizable.ttf");
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  outline: none;
}

:root {
    --sait: env(safe-area-inset-top);
    --saib: env(safe-area-inset-bottom);
    --sail: env(safe-area-inset-left);
    --sair: env(safe-area-inset-right);
    --top-menu-padding: 24px;
    --top-menu-padding: max(24px, var(--sait));
    --top-menu-padding: max(24px, max(env(titlebar-area-height, 24px)), var(--sait));
    --commonRadius: 12px;
    --flyoutWidth: 264px;
    --borderColor: #dddddd;
    --transBG: rgba(255, 255, 255, 0.4);
    --standardBG: #ffffff;
    --hoverColor: rgba(200, 200, 200, 0.25);
}

.adlGamepadSelectable {
    transition: 0.2s;
}

body.adlDark {
    --borderColor: #000000;
    --transBG: rgba(255, 255, 255, 0.05);
    --standardBG: #111111;
    color: #ffffff;
}

.adl {
    transition: 0.2s;
}

html, body {
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overscroll-behavior: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

a:hover {
    text-decoration: underline;
}

.adl-box {
    border-radius: var(--commonRadius);
    border: 1px solid var(--borderColor);
    background-color: var(--transBG);
    margin: 12px 0px;
    padding: 12px;
}

.adl-grid-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
}

.adl-content-area {
    overflow: auto;
    background-color: var(--transBG);
    border-top: 1px solid var(--borderColor);
    border-left: 1px solid var(--borderColor);
    border-top-left-radius: var(--commonRadius);
    padding: 24px;
}

.adl-codeblock {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    margin: 12px 0px;
    font-size: 13px;
    border-radius: calc(var(--commonRadius) / 2);
    padding: 12px;
    border: 1px solid var(--borderColor);
}

progress.adl {
    height: 20px;
    width: 100%;
}

button.adl, input[type=button].adl, input[type=submit].adl {
    border: 1px solid var(--borderColor);
    padding: 8px 16px;
    border-radius: calc(var(--commonRadius) / 2);
    min-width: 120px;
    background-color: var(--transBG);
    user-select: none;
    cursor: pointer;
}

.adlDark button.adl, .adlDark input[type=button].adl, .adlDark input[type=submit].adl {
    background-color: rgba(255, 255, 255, 0.4);
}

button.adl:hover, input[type=button].adl:hover, input[type=submit].adl:hover {
    background-color: var(--hoverColor);
}

.coloredButton:hover {
    opacity: 0.75;
}

button.adl:active, input[type=button].adl:active, input[type=submit].adl:active {
    opacity: 0.5;
}

input.adl[type=number], input.adl[type=password], input.adl[type=text], textarea.adl {
    border: 1px solid var(--borderColor);
    border-bottom: 2px solid #000000;
    padding: 8px;
    border-radius: calc(var(--commonRadius) / 2);
    width: calc(100% - 18px);
    outline: none;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.adlDark input.adl[type=number], .adlDark input.adl[type=password], .adlDark input.adl[type=text], .adlDark textarea.adl {
    background-color: #333333;
    color: #ffffff;
}

textarea.adl {
    min-height: 60px;
}

.adl-dialog {
    font-size: 14px;
    user-select: none;
    width: calc(90% - 64px);
    max-width: 520px;
    padding: 24px 32px;
    border-radius: var(--commonRadius);
    border: 1px solid var(--borderColor);
    overflow: hidden;
    color: #000000;
    background-color: var(--standardBG);
    outline: none !important;
}

.dialogPopup {
    max-height: 80vh;
}

.dialogPopup[open] {
    display: flex;
}

.adlDark .adl-dialog {
    color: #ffffff;
}

.adl-embedded-dialog {
    font-size: 14px;
    user-select: none;
}

.adl-dialog-inner {
    display: grid;
    overflow: hidden;
    width: 100%;
}

.dialogFlyoutbottom .adl-dialog-inner {
    max-height: 100%;
}

.dialogFlyoutright .adl-dialog-inner, .dialogFlyoutleft .adl-dialog-inner {
    padding-top: var(--sait);
    padding-bottom: var(--saib);
    height: calc(100% - calc(var(--sait) + var(--saib)));
}

.dialogFlyoutright .adl-dialog-inner {
    padding-right: var(--sair);
}

.dialogFlyoutleft .adl-dialog-inner {
    padding-left: var(--sail);
}

.dialogFlyouttop {
    margin: 0px auto auto auto;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.dialogFlyoutright {
    margin: auto 0px auto auto;
    width: calc(var(--flyoutWidth) + var(--sair));
    height: calc(100% - 48px);
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
}

.dialogFlyoutleft {
    margin: auto auto auto 0px;
    width: calc(var(--flyoutWidth) + var(--sail));
    height: calc(100% - 48px);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0px;
}


.dialogFlyoutbottom {
    margin: auto auto 0px auto;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 50vh;
    align-self: anchor-center;
    bottom: 0px;
}

.adl-dialog-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.adl-dialog-icon-message-line {
    display: grid;
    gap: 12px;
}

.adl-dialog-input {
    margin-top: 12px;
}

.adl-dialog-list-holder {
    overflow: auto;
    outline: none;
}

.adl-dialog-slider {
    margin-top: 12px;
}

.adl-dialog-slider-status {
    font-weight: 600;
    text-align: center;
}

.adlColorPicker {
    display: grid;
    gap: 6px;
    width: calc(100% - 2px);
}

.adlColorPickerSwatch {
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
    border-radius: 128px;
    border: 1px solid rgba(130, 130, 130, 0.25);
}

.adlColorPickerInputHolder {
    margin-top: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 6px;
}

.adlColorPickerHexHeader {
    font-weight: bold;
    position: relative;
    top: 9px;
    font-size: 15px;
}

.adlColorPickerInputHolder input[type=color] {
    height: calc(100% - 4px);
}

.adl-dialog-buttons {
    text-align: right;
    margin-top: 12px;
}

.adl-dialog-buttons button {
    margin-left: 12px;
}

.adl-main-app-toolbar {
    app-region: drag;
    -webkit-app-region: drag;
    padding-top: var(--sait);
    padding-left: var(--sail);
    padding-right: var(--sair);
    padding-left: calc(var(--sail) + env(titlebar-area-x));
    padding-right: calc(100% - (env(titlebar-area-x) + env(titlebar-area-width) + var(--sair)));
}

.adl-main-app-toolbar .adl-toolbar-button {
    app-region: no-drag;
    -webkit-app-region: no-drag;
}

.adl-main-app-toolbar .adl-toolbar-button-noaction {
    app-region: drag;
    -webkit-app-region: drag;
}

.adl-toolbar {
    display: grid;
    overflow: hidden;
    align-items: center;
    user-select: none;
    font-size: 14px;
}

.adl-toolbar-item {
    transition: 0.2s;
    height: 36px;
    display: grid;
    align-items: center;
    transition: 0.2s;
    padding: 4px 8px;
    grid-template-columns: auto 1fr;
}

.adl-toolbar-seperator {
    height: 28px;
    border-left: 1px solid var(--borderColor);
    margin: 0px 6px;
}

.adl-toolbar-item-icon-and-label {
    gap: 12px;
}

.adl-toolbar-title {
    font-size: 12px;
}

.adl-toolbar-title-centered {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.adl-toolbar-button {
    border-radius: calc(var(--commonRadius) / 2);
    transition: 0.2s;
}

.adl-toolbar-button:hover {
    background-color: var(--hoverColor);
}

.adl-toolbar-button:active {
    opacity: 0.5;
}

.adl-icon {
    user-select: none;
}

.adl-image-icon {
    height: 22px;
    width: 22px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.adl-dialog-icon .adl-image-icon {
    height: 48px;
    width: 48px;
}

.adl-emoji-icon {
    font-size: 20px;
    position: relative;
    top: -1px;
}

.adl-dialog-icon .adl-emoji-icon {
    font-size: 40px;
}

.adl-font-icon {
    font-family: fluent;
    font-size: 22px;
}

.adl-dialog-icon .adl-font-icon {
    font-size: 48px;
}

.adl-menu {
    position: fixed;
    background-color: var(--standardBG);
    border-radius: calc(var(--commonRadius) / 2);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--borderColor);
    user-select: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    overflow: hidden auto;
    max-height: 90%;
}

.adl-menu-title {
    grid-column: 1 / span 3;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
}

.adl-menu-separator {
    margin: 4px 12px;
    height: 1px;
    background-color: var(--borderColor);
    grid-column: 1 / span 3;
}

.adlDark .adl-menu-separator {
    background-color: #666666;
}

.adl-menu-item {
    display: grid;
    grid-template-columns: subgrid;
    cursor: pointer;
    grid-column: 1 / span 3;
    align-items: center;
    padding: 4px;
}

.adl-menu-item-icon {
    padding-left: 12px;
}

.adl-menu-item:hover {
    background-color: var(--hoverColor);
}

.adl-menu-item-title {
    grid-column: 2;
    padding: 8px 12px;
    font-size: 14px;
}

.adl-menu-item-accelerator {
    opacity: 0.5;
    text-align: right;
    padding: 0px 12px;
    font-size: 14px;
}

.adl-menu-item-menu-ind {
    font-family: fluent;
    font-weight: 600;
    text-align: right;
    padding: 0px 12px;
}

.adl-menu-icon-row {
    display: grid;
    grid-column: 1 / span 3;
    align-items: center;
}

.adl-menu-icon-row-item {
    padding: 2px 6px;
    border-radius: calc(var(--commonRadius) / 2);
}

.adl-menu-icon-row-item:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
}

.adl-toast-holder {
    position: fixed;
    bottom: calc(12px + var(--saib));
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.adl-toast {
    border-radius: calc(var(--commonRadius) / 2);
    border: 1px solid var(--borderColor);
    background-color: var(--standardBG);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    margin: 12px auto 0px auto;
    max-width: 80vw;
    font-size: 14px;
    user-select: none;
    padding: 12px;
    display: grid;
    gap: 12px;
    align-items: center;
}

.adl-toast-action {
    font-weight: 600;
    cursor: pointer;
}

.adl-list-seperator {
    margin: 12px 0px;
    height: 1px;
    background-color: var(--borderColor);
}

.adl-list-item {
    user-select: none;
    transition: 0.2s;
    padding: 12px;
    border-radius: calc(var(--commonRadius) / 2);
}

.adl-list-item:hover {
    background-color: var(--hoverColor);
}

.adl-list-item:active {
    opacity: 0.5;
}

.adl-list-top-row-double {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
}

.adl-list-item-title {
    font-weight: 600;
    font-size: 15px;
}

.adl-list-item-status {
    font-weight: 600;
}

.adl-list-overflow-item {
    display: grid;
    align-items: center;
    gap: 4px;
}

.adl-sidebar {
    overflow: auto;
    padding-right: 12px;
    padding-left: var(--sail);
}

.adl-sidebar-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
    user-select: none;
    padding: 6px;
    border-radius: calc(var(--commonRadius) / 2);
    transition: 0.2s;
}

.adl-sidebar-item:hover {
    background-color: var(--hoverColor);
}

.adl-sidebar-item:active {
    opacity: 0.5;
}

.adl-sidebar-item-title {
    font-size: 14px;
}

@media (max-height: 500px) {

    .dialogPopup {
        max-height: 90vh;
    }

    .dialogPopup .adl-dialog-inner {
        overflow: auto;
    }
}

@media print {
    .adl-backdrop-underlay {
        display: none !important;
    }

    .adlBlocker {
        display: none !important;
    }

    html, body {
        color: #000000 !important;
        background-color: transparent !important;
        overflow: initial;
        height: initial;
        width: initial;
        background-image: none !important;
    }

    .adl-backdrop, .adl-tint {
        background-color: transparent !important;
        position: initial;
    }

    body.adlWithBackdrop {
        overflow: initial;
    }

    html:has(body.adlWithBackdrop) {
        overflow: initial;
    }

    .adl-grid-wrapper {
        overflow: initial;
    }

    .adl-toolbar {
        display: none;
    }

    .adl-content-area {
        overflow: initial;
    }

    .adl-toast {
        display: none;
    }

    .adlTooltipLabel {
        display: none;
    }
}